@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.btn {
	background: #14142a;
	padding: 5px 10px;
	color: #fff;
	font: 1.2em "Roboto", sans-serif;
	border-radius: 10px;
	border: 1px solid;
	grid-column: 6 / 7;
}
